@font-face{
    font-family: Poppins;
        src: url(/fonts/Poppins-Black.ttf);
}
header{
    width: 100%;
}
#row1{
    position: absolute;
width: 1194px;
height: 89px;
left: 123px;
top: 11px;
}
#image1{
    position: absolute;
    left: 0%;
    right: 95.31%;
    top: 0%;
    bottom: 10.11%;
    
}
#div1{
    position: absolute;
    left: 6.37%;
    right: 76.88%;
    top: 11.24%;
    bottom: 21.35%;
           font-size: 40px;
    line-height: 60px;
    /* identical to box height */
        display: flex;
    align-items: center;
    text-align: center;
        color: #2895E3;
        

}
#div2{
    position: absolute;
    left: 31.83%;
    right: 62.19%;
    top: 3.37%;
    bottom: 6.74%;
           font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #0DA3E2;
}

#div3{
    position: absolute;
left: 41.12%;
right: 49.95%;
top: 3.37%;
bottom: 6.74%;
font-size: 20px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;

color: #0DA3E2;
}

#div5{
    position: absolute;
    left: 53.43%;
    right: 38.43%;
    top: 3.37%;
    bottom: 6.74%;    
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #0DA3E2;
}
#div6{
    position: absolute;
    left: 74.96%;
    right: 14.06%;
    top: 4.49%;
    bottom: 5.62%;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;   
    color: #0DA3E2;
    
        }
#div4{
    position: absolute;
left: 64.91%;
right: 28.39%;
top: 3.37%;
bottom: 6.74%;
font-size: 20px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;

color: #0DA3E2;

}
#page_login{
    position: absolute;
    left: 94.97%;
    right: 0%;
    top: 11.24%;
    bottom: 21.35%;
    background: #C4C4C4;
    border-radius: 40px;    

}