@font-face{
    font-family: Poppins;
    src: url(/fonts/Poppins-Black.ttf);
}
.test_container{
    position: absolute;
    background: aqua;
    width: 100%;
    height: 3100px;
    top: 100px;
}

#test_series{
    position: absolute;
width: 1340px;
height: 480px;
left: 90px;
top: 100px;
background: #FFFFFF;
border-radius: 40px;
}
#title{
    position: absolute;
width: 684px;
height: 80px;
left: 73px;
top: 60px;
font-weight: 600;
font-size: 60px;
line-height: 90px;
color: #128AE4;
display: flex;
align-items: center;
}
#brief{
    position: absolute;
width: 480px;
height: 100px;
left: 72px;
top: 200px;
font-size: 24px;
line-height: 36px;
display: flex;
align-items: center;

color: #128AE4;
}
#test_btn{
    position: absolute;
    top: 360px;
    font-size: 24px;
    left: 72px;
    width: 380px;
    border-radius: 20px;
}
#test_img{
    position: absolute;
width: 402px;
height: 365px;
left: 862px;
top: 47px;
}
#events{
    position: absolute;
width: 540px;
height: 90px;
left: 450px;
top: 660px;
font-weight: 600;
font-size: 40px;
line-height: 90px;
/* identical to box height */
text-align: center;
color: #FFFFFF;
}
.container_test{
    position: absolute;
    top: 780px;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin: 100px;
    margin-left: 130px;
}
.items{
    width: 300px;
height: 340px;
    background-color: white;
    margin: 50px;
    padding: 15px;
    border-radius: 20px;
}
#test1{
    position: absolute;
margin: 1px;
font-weight: 500;
font-size: 26px;
line-height: 39px;
text-align: center;
color: #000000;
}
#test_brief{
    position: absolute;
margin-top:50px;
width: 20%;
font-size: 16px;
line-height: 24px;
color: #4D4C4E;
}
#details{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
 margin-top: 15%;
    flex-direction: column;
    flex-wrap: wrap;
}
.item1{
    padding: 10px;
margin: 10px;

}
#details1{
    position: absolute;
    display: flex;
   margin-left: 15%;
 margin-top: 15%;
    flex-direction: column;
    flex-wrap: wrap;
}
.item2{
    padding: 10px;
margin: 10px; 
}
#right_circle{
    position: absolute;
    font-size: 50px;
    margin-left: 97%;
    margin-top: 15%;
}
#left_circle{
    position: absolute;
    font-size: 50px;
    margin-left: -5%;
    margin-top: 15%;
}
#what_test_container{
    position: absolute;
width: 90%;
height: 21%;
margin-top:100% ;
margin-left:5% ;
background: #FFFFFF;
border-radius: 40px;
}
#what_series{
    position: absolute;
    font-size: 60px;
    margin-top: 5%;
    margin-left: 20%;
    color: #128AE4;
    
}
#what_img{
width: 40%;
height: 40%;
margin-left: 60%;
margin-top: 15%;
}
#what_brief{
    position: absolute;
    width: 30%;
   height: 10%;
    margin-top: 15%;
    margin-left: 10%;
    font-size: 24px;
    color: #128AE4;
}
#test_btn2{
position: absolute;
margin-top: 35%;
margin-left: 10%;
width: 25%;
border-radius: 20px;
font-size: 24px;
}
#step_container{
    position: absolute;
width: 100%;
height: 15%;
margin-top: 150%;

display: flex;
}
.step{
    margin: 2%;
       width: 100%;
    height: 90%;
    padding: 1%;
}
#step1{
    font-size: 30px;
    color: white;
    margin-left: 30%;
}
#step_img{
    
    height: 30%;
    width: 60%;
    margin: 15%;
}
#step_topic{
    font-size: 30px;
        color: white;
        margin-left: 25%;
        margin-top: -7%;
        width: 80%;
}
#step_brief{
    font-size: 20px;
    color: white;
    width: 80%;
    margin-left: 10%;
}